---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "July - Dec 2023",
    title: "Laboratoria ",
    description: `During my time at Laboratoria, I experienced significant personal
     and professional growth. I acquired essential technical skills to enter the IT 
     industry, including HTML, CSS, JavaScript, Angular, Node.js, and more. 
     Additionally, we were exposed to a simulated work environment, allowing me to work 
     on sprints, manage daily tasks, participate in weekly meetings to present project progress, 
     and develop a variety of soft skills. This experience has equipped me with a solid foundation 
     to thrive in the dynamic and collaborative field of technology`,
    link: "https://www.credential.net/5927467b-6221-4348-9fa6-06bc37393437#gs.3iigxg",
  },
  {
    date: "Feb 2019 - May 2020",
    title: "CREA (nonprofit organization)",
    description: `Conducted training sessions for almost 40 groups of women, established partnerships with public and private
    organizations, and developed methodologies in business, entrepreneurship, marketing, and basic accounting.`,
  },
];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
