<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full w-20 h-20" src="https://media.licdn.com/dms/image/D5603AQHr3ePgPKZrnQ/profile-displayphoto-shrink_800_800/0/1695855901103?e=2147483647&v=beta&t=owojkzW9ydXEWr3NUCIEnu8LQ1cg6nZ02s6gFZlF_7Y" alt="Alejandra Photo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#experience">Experience</a>
        <a href="#contact">Contact</a>
    </nav>
</header>